@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body,
html {
  margin: 0;
  height: 100%;
  font-family: "Noto Sans TC", sans-serif;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left top, right top, from(#09203f), to(#00192d));
  background-image: linear-gradient(to right, #09203f 0%, #00192d 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

p {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a {
  text-decoration: none;
  color: #fff;
}

canvas {
  border: 1px solid #333;
  letter-spacing: 2px;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#09203f), to(#00192d));
  background-image: linear-gradient(to top, #09203f 0%, #00192d 100%);
}

.state {
  display: none;
}

.start {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 90px;
  color: #fff;
  letter-spacing: 3px;
  text-align: center;
}

.start .btn {
  cursor: pointer;
  border: 1px solid #fff;
  padding: 5px 10px;
  border-radius: 15px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  letter-spacing: 2px;
}

.start .btn:hover {
  background: #fff;
  color: #000;
}

.start .btn:hover a {
  color: #000;
}

.back {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 60%;
  text-align: center;
  color: #fff;
}

.back .btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px 30px;
  border: 1px solid #fff;
  border-radius: 30px;
  font-size: 16px;
  letter-spacing: 2px;
}

.back .btn:hover {
  background: #fff;
  color: #000;
}

.back .btn:hover a {
  color: #000;
}

.back .info {
  width: 800px;
  padding: 10px 0px;
  letter-spacing: 2px;
}

.control {
  position: absolute;
  margin-top: -60px;
  margin-left: 30px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
}

.control p {
  display: inline-block;
}

.control .shop {
  cursor: pointer;
}

.control .shop::after {
  content: 'S';
  border: 1px solid #fff;
  padding: 5px 20px;
  border-radius: 5px;
  margin: 0 10px;
}

.control .pause {
  cursor: pointer;
}

.control .pause::after {
  content: 'P';
  border: 1px solid #fff;
  padding: 5px 20px;
  border-radius: 5px;
  margin: 0 10px;
}

.guide {
  position: absolute;
  color: #fff;
}
